body{
    font-family: 'Oswald', sans-serif !important;
}

.navbar{
    justify-content: center;
    background-color: #404040;
    border-bottom:#759CC9 5px solid;
    width: 100%;
}

.nav-link{
    text-transform: uppercase;
    font-weight: bold;
    padding: 0 0 0 0;
    color:#759CC9;
  }

  .nav-link:hover{
      color:#FFFFFF;
  }


#titlepage {
    width: 100%;
    height:100%;
    background-color: #F8F8FF;
}
#titlepage img{
    border-radius: 50%;
    width: 20%;
    height:20%;
}   
#titlepage h1{
    font-size: 3.5vw;
    text-shadow: 0 0 5px #759CC9;
}
#titlepage p{
    width:100%;
    font-size: 1.5vw;
    padding-left: 15vw;
    padding-right: 15vw;
    text-align: center;
}
#timelinepage {
    background-color: #FFFAFA;
    height: 100%;
    width: 100%;
}
#timelinepage h1{
    font-size: 5vw;
    color: #759CC9;
    padding-top: 3.2%;
    text-shadow: 0 0 5px #759CC9;
}

.timeline{
    position: relative;
    max-width: 90%;
    margin: 0 auto;
}
.spacing {
    padding-top: 1%;
}
.timeline-divider{
    background-color: #759CC9 !important;
    box-shadow: 0 0 10px #759CC9;
}
.timeline__item:after{
    background-color:#FFFFFF;
    border:4px solid #759CC9;
    box-shadow: 0 0 10px #759CC9;
}

.timeline__content h2{
    font-size: 1.5vw;
    color: #759CC9;
}
.timeline__content p{
    font-size: 1vw;
}

.timeline-nav-button{
    border: 4px solid #759CC9;
    text-align: 0;
}

#projectspage {
    background-color: #f7fcfe;
    height: 100%;
    width: 100%;
    background-image: url(../img/pattern.png);
}

#projectspage h1{
    font-size: 5vw;
    color: #759CC9;
    padding-top: 3.2%;
    text-shadow: 0 0 5px #759CC9;
}

#projectspage .card{
    width:30%;
    height:40%;
    top: 50%;
    left: 50%;
    margin-left: -15%;
    margin-top: 5%;
    margin-bottom: 4%;
    animation: glow 5s linear infinite;
}
#projectspage .card-body{
    background: #F0FCFE;
}

#projectspage .card-body img{
    width: 100%;
    height: 100%;
}

#projectspage .card-body h2{
    font-size: 2.5vw;
    margin-bottom: 10%;
}

#projectspage .card-body p{
    font-size: 1.25vw;
}


#contributionpage {
    background: #FFE5B4;
}
#contributionpage h1{
    font-size: 5vw;
    color: #759CC9;
    padding-top: 3.2%;
    text-shadow: 0 0 5px #759CC9;
}

#contributionpage .card{
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 2.5%;
    margin-bottom: 2.5%;
    width: 20% !important;

}
.contributionspacing {
    padding-top: 3rem;
    padding-bottom:3rem;
}

.contributionspacing2{
    padding-top:1.5rem;
    padding-bottom:1.5rem;
}

.carousel-control-prev, .carousel-control-next{
    background-color: #FCEBD7;
}

.carousel-item img{
    width:60%;
    margin-left: 20%;
}

.carousel-caption h3{
    font-size: 2vw;
}
.carousel-caption h4{
    font-size: 1.5vw;
}

.carousel-control-prev{
    background-color:black;
    height: 5%;
    width:2% !important;
    border-radius: 75%;
    top: 50% !important;
    left:2% !important;
}

.carousel-control-next {
    background-color:black;
    height: 5%;
    width:2% !important;
    border-radius: 75%;
    top: 50% !important;
    right:2% !important;
}

.carousel-indicators :active{
    background-color: #000000;
}

#achievementpage{
    background-color: #FAEBD7;
    width:100%;
}

#achievementpage .row{
    width:100%;
}

#achievementpage h1{
    font-size: 5vw;
    color: #FFCE00;
    padding-top: 3.2%;
    text-shadow: 0 0 10px #E08506;
}

#achievementpage img{
    width:22.5%;
    height:22.5%;
    margin-left: 7.5%;
    margin-right:7.5%;
    margin-top: 1%;
    margin-bottom: 1%;
    box-shadow: 0 0 25px 0 #FFCE00;
}

@keyframes glow{
    0%,100%{
        box-shadow: 0 0 50px #95D6DC;
    }

    25% { 
        box-shadow: 0 0 25px #95D6DC;
        /*box-shadow:  0 0 30px #7DF9FF;*/
    }

    50%{
        box-shadow: 0 0 0px #95D6DC;
        /*box-shadow: 0 0 30px #7FFF00;*/
    }

    75%{
        box-shadow: 0 0 25px #95D6DC;
        /*box-shadow: 0 0 30px #FF1493;*/
    }
}

footer{
    background-color: #404040;
    margin: 0 0 0 0;
    border-top: #759CC9 5px solid;
}

footer p{
    margin: 0 0 0 0;
}

footer a{
    padding-top:2% !important;
    padding-bottom:2% !important;
}



@media (min-width: 1920px){
    #titlepage img{
        margin-top: 2%;
    }
    #titlepage p{
        padding-bottom: 5%;
    }

    .carousel-caption{
        height:30% !important;
    }

    .carousel-caption h3{
        font-size: 3vw;
    }

    .carousel-caption h4{
        font-size: 2.75vw;
    }

    .carousel-item img{
        width:70%;
        margin-left:15%;
    }
    
}

@media (max-width: 1537px){
    .carousel-caption{
        height:25% !important;
    }

    .carousel-caption h3{
        font-size: 2.75vw;
    }

    .carousel-caption h4{
        font-size: 2.5vw;
    }

    .carousel-item img{
        width:65%;
        margin-left:17.5%;
    }
}

@media (max-width: 1024px){
    #titlepage img{
        margin-top: 5%;
    }
    #titlepage h1{
        font-size: 4.5vw;
    }
    #titlepage p{
        font-size:2vw;
        margin-bottom: 5%;
    }
    .timeline__content h2{
        font-size: 2vw;
    }
    .timeline__content p{
        font-size: 1.2vw;
    }

    .contributionspacing{
        padding-top:3.25% !important;
        padding-bottom:3.25% !important;
    }

    .contributionspacing2{
        padding-top:3.25% !important;
        padding-bottom: 3.25% !important;
    }

    .carousel-caption{
        height:30% !important;
    }

    .carousel-caption h3{
        font-size: 3vw;
    }

    .carousel-caption h4{
        font-size: 2.75vw;
    }

    .carousel-item img{
        width:80%;
        margin-left:10%;
    }


    
   
}

@media (max-width: 950px){
    #titlepage img{
        margin-top: 0;
        width: 20%;
        height: 20%;
    }

    #titlepage p{
        font-size: 3vw;
    }

    #titlepage h1{
        font-size: 5vw;
    }

    #achievementpage h1, #projectspage h1, #contributionpage h1, #timelinepage h1{
        font-size:8vw;
    }

    .contributionspacing{
        padding-top:3% !important;
        padding-bottom:3% !important;
    }

    .contributionspacing2{
        padding-top:3% !important;
        padding-bottom: 3% !important;
    }

    .carousel-caption{
        height:30% !important;
    }

    .carousel-caption h3{
        font-size: 3vw;
    }

    .carousel-caption h4{
        font-size: 2.75vw;
    }

    .carousel-item img{
        width:80%;
        margin-left:10%;
    }

    #achievementpage img{
        width:30%;
        height:30%;
        margin-left: 7.5%;
        margin-right:7.5%;
    }

}

@media (max-width: 768px){
    .nav-link{
        font-size: 1.75vw !important;
    }
    #titlepage img{
        width:30%;
        height:30%;
    }

    #titlepage h1{
        font-size: 5.5vw;
    }

    #titlepage p{
        font-size: 3vw;
        padding-left:7.5% !important;
        padding-right:7.5% !important;
    }

    #projectspage .card{
        width:50%;
        height:50%;
        top: 50%;
        left: 50%;
        margin-left: -25%;
        margin-top: 5%;
        margin-bottom: 4%;
    }

    #projectspage .card-body h2{
        font-size: 3vw;
        margin-bottom: 10%;
    }
    
    #projectspage .card-body p{
        font-size: 2.5vw;
    }

    .contributionspacing{
        padding-top:3% !important;
        padding-bottom:3% !important;
    }

    .contributionspacing2{
        padding-top:3% !important;
        padding-bottom: 3% !important;
    }

    .carousel-caption{
        height:30% !important;
    }

    .carousel-caption h3{
        font-size: 3vw;
    }

    .carousel-caption h4{
        font-size: 2.75vw;
    }

    .timeline__content h2{
        font-size: 3.5vw !important;
    }
    .timeline__content p{
        font-size: 3.25vw !important;
    }
    .carousel-item img{
        width:80%;
        margin-left:10%;
    }

    #achievementpage h1, #projectspage h1, #contributionpage h1, #timelinepage h1{
        font-size:8vw;
    }
    #achievementpage img{
        width:30%;
        height:30%;
        margin-left: 7.5%;
        margin-right:7.5%;
    }
}  

@media (max-width: 650px){
    header a{
        font-size:2vw;
    }
    #titlepage div{
        padding-top:1% !important;
    }
    #titlepage img{
        margin-top: 2%;
        padding-top: 0;
        width:20%;
        height:20%;
    }

    #timelinepage h1{
        font-size: 8vw;
    }

    #projectspage .card{
        width:50%;
        height:60%;
        top: 50%;
        left: 50%;
        margin-left: -25%;
        margin-top: 5%;
        margin-bottom: 4%;
    }

    #projectspage .card-body h2{
        font-size: 4vw;
        margin-bottom: 10%;
    }
    
    #projectspage .card-body p{
        font-size: 3vw;
    }

    .timeline__content h2{
        font-size: 2.25vw;
    }

    .timeline__content p{
        font-size: 1.5vw;
    }

    
    

    #projectspage h1{
        font-size:8vw;
    }

    #contributionpage h1{
        font-size:8vw;
    }

    .contributionspacing{
        padding-top:3% !important;
        padding-bottom:3% !important;
    }

    .contributionspacing2{
        padding-top:3% !important;
        padding-bottom: 3% !important;
    }

    .carousel-caption{
        height:30% !important;
    }

    .carousel-caption h3{
        font-size: 3vw;
    }

    .carousel-caption h4{
        font-size: 2.75vw;
    }

    .carousel-item img{
        width:80%;
        margin-left:10%;
    }

    #achievementpage h1{
        font-size:8vw;
    }
    #achievementpage img{
        width:30%;
        height:30%;
        margin-left: 7.5%;
        margin-right:7.5%;
    }
    
}


@media (max-width: 500px){
    header a{
        font-size:3vw;
    }

    #titlepage img{
        width:35%;
        height:35%;
    }

    #titlepage h1{
        font-size: 7vw;
    }
    #titlepage p{
        font-size: 4vw;
    }
    
    
    .timeline__content h2{
        font-size: 5vw;
    }

    .timeline__content p{
        font-size: 3vw !important;
    }

    #projectspage .card{
        width:60%;
        height:60%;
        top: 50%;
        left: 50%;
        margin-left: -30%;
        margin-top: 5%;
        margin-bottom: 4%;
    }

    #projectspage .card-body h2{
        font-size: 4vw;
        margin-bottom: 10%;
    }
    
    #projectspage .card-body p{
        font-size: 3.25vw;
    }

    .contributionspacing{
        padding-top:3% !important;
        padding-bottom:3% !important;
    }

    .contributionspacing2{
        padding-top:3% !important;
        padding-bottom: 3% !important;
    }

    .carousel-caption{
        height:30% !important;
    }
    .carousel-caption h3{
        font-size: 3.25vw;
    }

    .carousel-caption h4{
        font-size: 3vw;
    }

    .carousel-item img{
        width:80%;
        margin-left:10%;
    }

    #achievementpage h1{
        font-size:7vw;
    }
    #achievementpage img{
        width:60%;
        height:60%;
        margin-left: 7.5%;
        margin-right:7.5%;
    }

    
}

@media (max-width: 375px){
    header a{
        font-size:2.5vw;
    
    }
    #titlepage img{
        width:35%;
        height:35%;
    }

    #titlepage h1{
        font-size: 6.5vw;
        margin-bottom: 7vw !important;
    }

    #titlepage p{
        width:85%;
        margin-left: 7.5% !important;
        padding-right: 0% !important;
        margin-right: 0% !important;    
        padding-left: 0% !important;
    }

    .timeline__content {
        width: 85%;
    }
    .timeline__content h2{
        font-size: 5vw;
    }

    .timeline__content p{
        font-size: 3.5vw !important;
    }

    #projectspage .card{
        width:70%;
        height:70%;
        top: 50%;
        left: 50%;
        margin-left: -35%;
        margin-top: 5%;
        margin-bottom: 4%;
    }

    #projectspage .card-body h2{
        font-size: 5vw;
        margin-bottom: 10%;
    }
    
    #projectspage .card-body p{
        font-size: 3.5vw;
    }
    
    .contributionspacing{
        padding-top:2% !important;
        padding-bottom:2% !important;
    }

    .contributionspacing2{
        padding-top:2% !important;
        padding-bottom: 2% !important;
    }

    .carousel-caption{
        padding-top:0% !important;
        padding-bottom:0% !important;
        height:20% !important;
    }
    .carousel-caption h3{
        font-size:3.5vw;
        margin-bottom: 0 !important;
    }
    .carousel-caption h4{
        margin-bottom: 0;
        font-size: 3vw !important;
    }

    .carousel-item img{
        width:80%;
        margin-left:10%;
    }

    

 }

